body * {
    font-family: "Arial Black";
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.body_circle_code {
    display: flex;

}

.text_count {
    display: flex;
    margin-bottom: 20px;
    font-size: 20px;
}
. circle p {
    margin: 0;
}
.circle {
    width: 450px;
    border: 3px black ;
    border-radius: 50%;
    background-color: orange;
    padding: 150px;
    margin-left: 10px;
    cursor: pointer;
    font-style: italic;

}

button {
    cursor: pointer;
    border-radius: 6px;
    width: 80px;
    height: 50px;
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    background-color: white;
}
button:hover{
    background-color: skyblue;
}